
<%- include("partials/header.ejs") %>

<link rel="stylesheet" href="/styles/index.css">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap" rel="stylesheet">



<header>
    <h1>Bilgilendirme <span>Sayfası</span> </h1>
</header>




<div class="flu">
    

    <div class="paragh">
        <p>Bu sitede kendi yazilarini yazabilir ve bunlari yayinlayabilirsin. Ne yazmak istiyorsan onu
        yazma hakkina sahipsin. 
        Bu sorumluluk ise senin uzerine. Acikcasi daha fazla ne yazabilirim bilmiyorum.
        biraz daha yazarsam sacmalayacagim. Keske lorem ipsum'dan copy paste atsaydim. Neyse Turkce yazalim 
        dedik harfler ingilizce. Bok gibi bi yazi oldu tesekkur ediyorum. Okudugun icin sag ol.
    </p>
    <p class="paragh">
        Bide bunu ben kendi ellerimle yaptim. Bununla baya bi ugrastim. Su an bunlari yazarken js planini
        kafamda kurmaya calisiyorum. Ne kadar surecek bilmiyorum valla. Amk o kadar ders izliyoruz ogrenmeye calisiyoruz 
        hala kafada bir seyler tam degil ya cildiricam amk. Neyse arastirip ugrasicam abi. Hadi gorusuruz BB!
    </p>
    </div>
    

</div>











<div class="background">
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
 </div>




<%- include("partials/footer.ejs") %>